<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Ipreo.AutomationFramework.UI.Configuration.DependencyConfiguration" type="Ipreo.AutomationFramework.UI.Configuration.DependencyConfiguration, Ipreo.AutomationFramework.UI" />
    <section name="Ipreo.AutomationFramework.UI.Configuration.TimeoutSettings" type="Ipreo.AutomationFramework.UI.Configuration.TimeoutSettingsConfiguration, Ipreo.AutomationFramework.UI" />
  <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" /></configSections>
  <Ipreo.AutomationFramework.UI.Configuration.DependencyConfiguration>
    <dependencies>
      <add serviceType="Ipreo.AutomationFramework.UI.Components.IElement, Ipreo.AutomationFramework.UI" implementationType="Ipreo.AutomationFramework.UI.Components.Element, Ipreo.AutomationFramework.UI"></add>
      
      <add serviceType="Ipreo.AutomationFramework.UI.Components.IPageFactory, Ipreo.AutomationFramework.UI" implementationType="Ipreo.AutomationFramework.UI.Components.PageFactoryBase, Ipreo.AutomationFramework.UI"></add>
      
      <add serviceType="Ipreo.AutomationFramework.UI.Components.Search.ISearchConfiguration, Ipreo.AutomationFramework.UI" implementationType="Ipreo.AutomationFramework.UI.Components.Search.SearchConfiguration, Ipreo.AutomationFramework.UI"></add>
    <add automationTool="Selenium" browser="Chrome" serviceType="OpenQA.Selenium.IWebDriver, WebDriver" implementationType="OpenQA.Selenium.Chrome.ChromeDriver, WebDriver"></add><add automationTool="Selenium" browser="Firefox" serviceType="OpenQA.Selenium.IWebDriver, WebDriver" implementationType="OpenQA.Selenium.Firefox.FirefoxDriver, WebDriver"></add><add automationTool="Selenium" browser="IE" serviceType="OpenQA.Selenium.IWebDriver, WebDriver" implementationType="OpenQA.Selenium.IE.InternetExplorerDriver, WebDriver"></add><add automationTool="Selenium" browser="PhantomJS" serviceType="OpenQA.Selenium.IWebDriver, WebDriver" implementationType="OpenQA.Selenium.PhantomJS.PhantomJSDriver, WebDriver"></add></dependencies>
  </Ipreo.AutomationFramework.UI.Configuration.DependencyConfiguration>
  <Ipreo.AutomationFramework.UI.Configuration.TimeoutSettings ElementTimeout="00:00:05" PageTimeout="00:00:10" />
<appSettings>
    <add key="automationTool" value="Selenium" />
    <!-- Supported browsers: Chrome, Firefox, IE, PhantomJS -->
    <add key="browser" value="Chrome" />
  </appSettings><specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow></configuration>