<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ipreo.AutomationFramework.UI" version="1.0.0.165-dev" targetFramework="net45" />
  <package id="Ipreo.AutomationFramework.UI.Components" version="1.0.0.165-dev" targetFramework="net45" />
  <package id="Ipreo.AutomationFramework.UI.Selenium" version="1.0.0.165-dev" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="Ninject" version="3.2.3-unstable-012" targetFramework="net45" />
  <package id="Ninject.Extensions.Conventions" version="3.2.1-unstable-005" targetFramework="net45" />
  <package id="NUnit" version="3.0.1" targetFramework="net45" />
  <package id="Selenium.Support" version="2.51.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="2.51.0" targetFramework="net45" />
  <package id="SpecFlow" version="2.0.0" targetFramework="net45" />
</packages>